p{
    color: black;
    font-size: large;
    background-color: lightblue;

}
h1{
    color: goldenrod;
    background-color: var();
    text-align: center;

}
*{
background-color: yellow;
}
input[type="text"]{
    border: 2px solid red;
}